<div class="container">
  <form>
    <p id="notice"><%= notice %></p>
    <div class="form-row">
      <div class="form-group col-md-4">
        <p>
          <strong>Image:</strong>
          <%= @user.image %>
        </p>  
      </div>
      <div class="form-group col-md-6">
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @user.address %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= @user.phone %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @user.date %>
        </p>
      </div>
    </div>
  </form>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
<style>
  p {
    margin: 0 0 10px;
    font-size: 20px;
  }
</style>
