<p id="notice"><%= notice %></p>

<h1>Cours</h1>
<hr>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Content</th>
      <th>Time learn</th>
      <th class="text-center">Edit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cours.each do |cour| %>
      <tr>
        <td><%= cour.id %></td>
        <td><%= cour.name %></td>
        <td><%= raw(cour.content) %></td>
        <td><%= cour.time_learn %></td>
        <td class="text-center">
          <%= link_to 'Show', cour %> |
          <%= link_to 'Edit', edit_user_path(cour) %> |
          <%= link_to 'Destroy', cour, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cour', new_cour_path %>
