<div class="container">
	<form>
		<p id="notice"><%= notice %></p>
		<div class="form-row">
			<div class="form-group col-md-8">
				<p>
				  <strong>Name:</strong>
				  <%= @cour.name %>
				</p>

				<p>
				  <strong>Image:</strong>
				  <%= @cour.image_cours %>
				</p>

				<p>
				  <strong>Content:</strong>
				  <%= raw(@cour.content) %>
				</p>

				<p>
				  <strong>Time-Learn: </strong>
				  <%= @cour.time_learn %> Month
				</p>
			</div>
		</div>
	</form>
</div>

<%= link_to 'Edit', edit_cour_path(@cour) %> |
<%= link_to 'Back', cours_path %>
