<%= form_for(@chapter, local: true) do |form| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@chapter.errors.count, "error") %>.
      </div>
      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cour_id %>
    <%= form.collection_select(:cour_id, Cour.order(:name),:id,:name, include_blank: true) %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content, :size => 5, :ckeditor => {:language => "us"}  %>
  </div>  

  <%= form.submit yield(:button_text), class: "btn btn-primary" %></br>
<% end %>
