<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @chapter.content %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chapter.course_id %>
</p>

<p>
  <strong>Chapter image:</strong>
  <%= @chapter.chapter_image %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
