<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw(@chapter.content) %>
</p>

<p>
  <strong>Course:</strong>
  <%= @chapter.cour.name %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
