<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :NameUser %>
    <%= form.collection_select :user_id, User.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.cktext_area :content, :size => 5, :ckeditor => {:language => "us"}  %>
  </div>  

  <%= form.submit yield(:button_text), class: "btn btn-primary" %></br>
<% end %>
